configuration {
  modi: "combi,drun,run,window,ssh";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  display-combi: "░▒▓ spotlight ▓▒░";
  display-drun: "░▒▓ apps ▓▒░";
  display-run: "░▒▓ run ▓▒░";
  display-window: "░▒▓ windows ▓▒░";
  display-ssh: "░▒▓ ssh ▓▒░";
  terminal: "/usr/bin/ghostty";
  combi-modi: "drun,run,window,ssh";
  matching: "fuzzy";
  sorting-method: "fzf";
}

@theme "sourcerer"
